In [67]:
# Preprocessing pipeline:
# 1. separate game 1 and game 2
#(row num - 2)
# if single game: (4 x 100)
# 2. remove confederate trials (even trials)
# 3. rows needed:
#     trial number (row 2)
#     probability of the arm chosen (row 5)
#     reward or no (row 6)
#     current score (row 8)
    
# if joint game: (5 x 200)
# 2. keep the partner's trials
# 3. rows needed:
#     trial number (row 2)
#     prob of the arm chosen (row 5)
#     reward or no (row 6)
#     current score player 1 (row 8)
#     current score player 2 (row 9)

In [68]:
import pandas as pd
import numpy as np

In [91]:
data = pd.read_csv('/Users/yubinghong/Desktop/data/s01_gamedata.csv') #change file name 
print(data.shape)
data.head()

(8, 400)

,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,2.190,2.191,2.192,2.193,2.194,2.195,2.196,2.197,2.198,2.199
0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,4.0,5.0,5.0,...,96.0,96.0,97.0,97.0,98.0,98.0,99.0,99.0,100.0,100.0
1,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,...,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0
2,2.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,3.0,1.0,...,2.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0
3,30.0,90.0,60.0,90.0,30.0,90.0,60.0,90.0,60.0,90.0,...,90.0,90.0,90.0,90.0,30.0,90.0,60.0,90.0,60.0,90.0
4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [92]:
# separate game 1 and game 2
game1_df = data.iloc[:, 0:200]
print(game1_df.head())
print(game1_df.shape)

game2_df = data.iloc[:, 200:400]
print(game2_df.head())
print(game2_df.shape)

      1   1.1   1.2   1.3   1.4   1.5   1.6   1.7   1.8   1.9  ...  1.190  \
0   1.0   1.0   2.0   2.0   3.0   3.0   4.0   4.0   5.0   5.0  ...   96.0
1   1.0   2.0   1.0   2.0   1.0   2.0   1.0   2.0   1.0   2.0  ...    1.0
2   2.0   1.0   3.0   1.0   2.0   1.0   3.0   1.0   3.0   1.0  ...    3.0
3  30.0  90.0  60.0  90.0  30.0  90.0  60.0  90.0  60.0  90.0  ...   60.0
4   1.0   1.0   1.0   1.0   0.0   1.0   0.0   1.0   1.0   1.0  ...    1.0

   1.191  1.192  1.193  1.194  1.195  1.196  1.197  1.198  1.199
0   96.0   97.0   97.0   98.0   98.0   99.0   99.0  100.0  100.0
1    2.0    1.0    2.0    1.0    2.0    1.0    2.0    1.0    2.0
2    1.0    2.0    1.0    3.0    1.0    3.0    1.0    1.0    1.0
3   90.0   30.0   90.0   60.0   90.0   60.0   90.0   90.0   90.0
4    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0

[5 rows x 200 columns]
(8, 200)
(8, 200)

,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,...,2.190,2.191,2.192,2.193,2.194,2.195,2.196,2.197,2.198,2.199
0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,4.0,5.0,5.0,...,96.0,96.0,97.0,97.0,98.0,98.0,99.0,99.0,100.0,100.0
1,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,...,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0
2,2.0,1.0,3.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,...,2.0,1.0,2.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0
3,90.0,90.0,30.0,90.0,60.0,90.0,90.0,90.0,90.0,90.0,...,90.0,90.0,90.0,90.0,30.0,90.0,60.0,90.0,60.0,90.0
4,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# for single player game

In [86]:
#game1
#remove confederate trials (even trials)
single_df = game1_df.iloc[:, [i for i in range(len(game1_df.columns)) if i%2 == 0]]
print(single_df.shape)

#choose row 
single_df = single_df.iloc[[0,3,4,6]]
print(single_df.shape)
single_df

(8, 100)
(4, 100)

,1,1.2,1.4,1.6,1.8,1.10,1.12,1.14,1.16,1.18,...,1.180,1.182,1.184,1.186,1.188,1.190,1.192,1.194,1.196,1.198
0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,100.0
3,30.0,60.0,30.0,60.0,60.0,90.0,90.0,30.0,30.0,30.0,...,60.0,30.0,90.0,60.0,60.0,60.0,30.0,60.0,60.0,90.0
4,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
6,1.0,2.0,2.0,2.0,3.0,3.0,4.0,4.0,5.0,5.0,...,54.0,54.0,55.0,55.0,55.0,56.0,57.0,58.0,59.0,60.0

In [87]:
#game 2

#remove confederate trials (even trials)
single_df = game2_df.iloc[:, [i for i in range(len(game2_df.columns)) if i%2 == 0]]
print(single_df.shape)

#choose row
single_df = single_df.iloc[[0,3,4,6]]
print(single_df.shape)
single_df

(8, 100)
(4, 100)

,2,2.2,2.4,2.6,2.8,2.10,2.12,2.14,2.16,2.18,...,2.180,2.182,2.184,2.186,2.188,2.190,2.192,2.194,2.196,2.198
0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,100.0
3,90.0,30.0,60.0,90.0,90.0,30.0,90.0,90.0,90.0,30.0,...,30.0,30.0,60.0,60.0,90.0,90.0,90.0,30.0,60.0,60.0
4,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,1.0,2.0,2.0,3.0,4.0,4.0,5.0,6.0,7.0,7.0,...,66.0,66.0,67.0,68.0,69.0,70.0,71.0,72.0,73.0,74.0

# for multi players

In [88]:
multi_df = game2_df.iloc[[0,3,4,6,7]]
print(multi_df.shape)
multi_df

(5, 200)

,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,...,2.190,2.191,2.192,2.193,2.194,2.195,2.196,2.197,2.198,2.199
0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,4.0,5.0,5.0,...,96.0,96.0,97.0,97.0,98.0,98.0,99.0,99.0,100.0,100.0
3,90.0,90.0,30.0,90.0,60.0,90.0,90.0,90.0,90.0,90.0,...,90.0,90.0,90.0,90.0,30.0,90.0,60.0,90.0,60.0,90.0
4,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,1.0,1.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,4.0,...,70.0,70.0,71.0,71.0,72.0,72.0,73.0,73.0,74.0,74.0
7,0.0,0.0,0.0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,...,88.0,89.0,89.0,90.0,90.0,91.0,91.0,92.0,92.0,93.0

In [89]:
multi_df = game2_df.iloc[[0,3,4,6,7]]
print(multi_df.shape)
multi_df

(5, 200)

,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,...,2.190,2.191,2.192,2.193,2.194,2.195,2.196,2.197,2.198,2.199
0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,4.0,5.0,5.0,...,96.0,96.0,97.0,97.0,98.0,98.0,99.0,99.0,100.0,100.0
3,90.0,90.0,30.0,90.0,60.0,90.0,90.0,90.0,90.0,90.0,...,90.0,90.0,90.0,90.0,30.0,90.0,60.0,90.0,60.0,90.0
4,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,1.0,1.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,4.0,...,70.0,70.0,71.0,71.0,72.0,72.0,73.0,73.0,74.0,74.0
7,0.0,0.0,0.0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,...,88.0,89.0,89.0,90.0,90.0,91.0,91.0,92.0,92.0,93.0